In [91]:
# import dependencies and files
# remove unneeded columns from the data
# median file needs to have rows with dates prior to 2000 removed and rows with null values in code
# GDP file needs to have columns with data before 2000 removed 
# better code may be to just import the information into anemia file
# convert data into appropriate units

In [96]:
#Dependencies used
import pandas as pd
import csv
import os
import numpy as np

In [97]:
#Opening and viewing file
anemia = pd.read_csv('anemia data.csv')
print(anemia)

                                IndicatorCode  \
0      NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV
1      NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV
2      NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV
3      NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV
4      NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV
...                                       ...
15595  NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV
15596  NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV
15597  NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV
15598  NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV
15599  NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV

                                               Indicator ValueType  \
0      Prevalence of anaemia in women of reproductive...      text
1      Prevalence of anaemia in women of reproductive...      text
2      Prevalence of anaemia in women of reproductive...      text
3      Prevalence of anaemia in women of reproductive...      text
4      Prevalence of anaemia in women of reproductive...      text
...                                                  ...       ...
15595  Prevalence of anaemia in women of reproductive...      text
15596  Prevalence of anaemia in women of reproductive...      text
15597  Prevalence of anaemia in women of reproductive...      text
15598  Prevalence of anaemia in women of reproductive...      text
15599  Prevalence of anaemia in women of reproductive...      text

      ParentLocationCode   ParentLocation Location type SpatialDimValueCode  \
0                    WPR  Western Pacific       Country                 CHN
1                    WPR  Western Pacific       Country                 AUS
2                    AMR         Americas       Country                 SLV
3                    WPR  Western Pacific       Country                 NZL
4                    EUR           Europe       Country                 GBR
...                  ...              ...           ...                 ...
15595                EUR           Europe       Country                 MKD
15596                AFR           Africa       Country                 SYC
15597                AMR         Americas       Country                 DMA
15598                AFR           Africa       Country                 RWA
15599                EUR           Europe       Country                 DEU

                                                Location Period type  Period  \
0                                                  China        Year    2019
1                                              Australia        Year    2019
2                                            El Salvador        Year    2019
3                                            New Zealand        Year    2019
4      United Kingdom of Great Britain and Northern I...        Year    2019
...                                                  ...         ...     ...
15595          The former Yugoslav Republic of Macedonia        Year    2000
15596                                         Seychelles        Year    2000
15597                                           Dominica        Year    2000
15598                                             Rwanda        Year    2000
15599                                            Germany        Year    2000

       ...  FactValueUoM FactValueNumericLowPrefix FactValueNumericLow  \
0      ...           NaN                       NaN                 0.0
1      ...           NaN                       NaN                 0.0
2      ...           NaN                       NaN                 0.0
3      ...           NaN                       NaN                 0.0
4      ...           NaN                       NaN                 0.0
...    ...           ...                       ...                 ...
15595  ...           NaN                       NaN                 6.7
15596  ...           NaN                       NaN                 3.5
15597  ...           NaN                       NaN                 3.8
15598  ...           NaN                       NaN                 5.6
15599  ...           NaN                       NaN                 6.2

      FactValueNumericHighPrefix  FactValueNumericHigh             Value  \
0                            NaN                   0.5     0.2 [0 – 0.5]
1                            NaN                   0.6     0.2 [0 – 0.6]
2                            NaN                   0.6     0.2 [0 – 0.6]
3                            NaN                   0.6     0.2 [0 – 0.6]
4                            NaN                   0.6     0.2 [0 – 0.6]
...                          ...                   ...               ...
15595                        NaN                  13.9  9.6 [6.7 – 13.9]
15596                        NaN                  23.2  9.7 [3.5 – 23.2]
15597                        NaN                  20.7  9.8 [3.8 – 20.7]
15598                        NaN                  16.4  9.8 [5.6 – 16.4]
15599                        NaN                  16.7  9.9 [6.2 – 16.7]

       FactValueTranslationID  FactComments  Language  \
0                         NaN           NaN        EN
1                         NaN           NaN        EN
2                         NaN           NaN        EN
3                         NaN           NaN        EN
4                         NaN           NaN        EN
...                       ...           ...       ...
15595                     NaN           NaN        EN
15596                     NaN           NaN        EN
15597                     NaN           NaN        EN
15598                     NaN           NaN        EN
15599                     NaN           NaN        EN

                   DateModified
0      2022-04-01T05:00:00.000Z
1      2022-04-01T05:00:00.000Z
2      2022-04-01T05:00:00.000Z
3      2022-04-01T05:00:00.000Z
4      2022-04-01T05:00:00.000Z
...                         ...
15595  2022-04-01T05:00:00.000Z
15596  2022-04-01T05:00:00.000Z
15597  2022-04-01T05:00:00.000Z
15598  2022-04-01T05:00:00.000Z
15599  2022-04-01T05:00:00.000Z

[15600 rows x 34 columns]

In [98]:
#Viewing datatypes and column headers
anemia.dtypes

IndicatorCode                  object
Indicator                      object
ValueType                      object
ParentLocationCode             object
ParentLocation                 object
Location type                  object
SpatialDimValueCode            object
Location                       object
Period type                    object
Period                          int64
IsLatestYear                     bool
Dim1 type                      object
Dim1                           object
Dim1ValueCode                  object
Dim2 type                     float64
Dim2                          float64
Dim2ValueCode                 float64
Dim3 type                     float64
Dim3                          float64
Dim3ValueCode                 float64
DataSourceDimValueCode        float64
DataSource                    float64
FactValueNumericPrefix        float64
FactValueNumeric              float64
FactValueUoM                  float64
FactValueNumericLowPrefix     float64
FactValueNumericLow           float64
FactValueNumericHighPrefix    float64
FactValueNumericHigh          float64
Value                          object
FactValueTranslationID        float64
FactComments                  float64
Language                       object
DateModified                   object
dtype: object

In [99]:
#Dropping columns with no data in any rows
anemia = anemia.dropna(axis=1,how="all")
print(anemia)

                                IndicatorCode  \
0      NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV
1      NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV
2      NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV
3      NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV
4      NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV
...                                       ...
15595  NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV
15596  NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV
15597  NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV
15598  NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV
15599  NUTRITION_ANAEMIA_REPRODUCTIVEAGE_PREV

                                               Indicator ValueType  \
0      Prevalence of anaemia in women of reproductive...      text
1      Prevalence of anaemia in women of reproductive...      text
2      Prevalence of anaemia in women of reproductive...      text
3      Prevalence of anaemia in women of reproductive...      text
4      Prevalence of anaemia in women of reproductive...      text
...                                                  ...       ...
15595  Prevalence of anaemia in women of reproductive...      text
15596  Prevalence of anaemia in women of reproductive...      text
15597  Prevalence of anaemia in women of reproductive...      text
15598  Prevalence of anaemia in women of reproductive...      text
15599  Prevalence of anaemia in women of reproductive...      text

      ParentLocationCode   ParentLocation Location type SpatialDimValueCode  \
0                    WPR  Western Pacific       Country                 CHN
1                    WPR  Western Pacific       Country                 AUS
2                    AMR         Americas       Country                 SLV
3                    WPR  Western Pacific       Country                 NZL
4                    EUR           Europe       Country                 GBR
...                  ...              ...           ...                 ...
15595                EUR           Europe       Country                 MKD
15596                AFR           Africa       Country                 SYC
15597                AMR         Americas       Country                 DMA
15598                AFR           Africa       Country                 RWA
15599                EUR           Europe       Country                 DEU

                                                Location Period type  Period  \
0                                                  China        Year    2019
1                                              Australia        Year    2019
2                                            El Salvador        Year    2019
3                                            New Zealand        Year    2019
4      United Kingdom of Great Britain and Northern I...        Year    2019
...                                                  ...         ...     ...
15595          The former Yugoslav Republic of Macedonia        Year    2000
15596                                         Seychelles        Year    2000
15597                                           Dominica        Year    2000
15598                                             Rwanda        Year    2000
15599                                            Germany        Year    2000

       IsLatestYear Dim1 type      Dim1 Dim1ValueCode  FactValueNumeric  \
0              True  Severity    Severe        SEVERE               0.2
1              True  Severity    Severe        SEVERE               0.2
2              True  Severity    Severe        SEVERE               0.2
3              True  Severity    Severe        SEVERE               0.2
4              True  Severity    Severe        SEVERE               0.2
...             ...       ...       ...           ...               ...
15595         False  Severity      Mild          MILD               9.6
15596         False  Severity  Moderate      MODERATE               9.7
15597         False  Severity  Moderate      MODERATE               9.8
15598         False  Severity  Moderate      MODERATE               9.8
15599         False  Severity     Total         TOTAL               9.9

       FactValueNumericLow  FactValueNumericHigh             Value Language  \
0                      0.0                   0.5     0.2 [0 – 0.5]       EN
1                      0.0                   0.6     0.2 [0 – 0.6]       EN
2                      0.0                   0.6     0.2 [0 – 0.6]       EN
3                      0.0                   0.6     0.2 [0 – 0.6]       EN
4                      0.0                   0.6     0.2 [0 – 0.6]       EN
...                    ...                   ...               ...      ...
15595                  6.7                  13.9  9.6 [6.7 – 13.9]       EN
15596                  3.5                  23.2  9.7 [3.5 – 23.2]       EN
15597                  3.8                  20.7  9.8 [3.8 – 20.7]       EN
15598                  5.6                  16.4  9.8 [5.6 – 16.4]       EN
15599                  6.2                  16.7  9.9 [6.2 – 16.7]       EN

                   DateModified
0      2022-04-01T05:00:00.000Z
1      2022-04-01T05:00:00.000Z
2      2022-04-01T05:00:00.000Z
3      2022-04-01T05:00:00.000Z
4      2022-04-01T05:00:00.000Z
...                         ...
15595  2022-04-01T05:00:00.000Z
15596  2022-04-01T05:00:00.000Z
15597  2022-04-01T05:00:00.000Z
15598  2022-04-01T05:00:00.000Z
15599  2022-04-01T05:00:00.000Z

[15600 rows x 20 columns]

In [100]:
#Viewing remaining columns
anemia.dtypes

IndicatorCode            object
Indicator                object
ValueType                object
ParentLocationCode       object
ParentLocation           object
Location type            object
SpatialDimValueCode      object
Location                 object
Period type              object
Period                    int64
IsLatestYear               bool
Dim1 type                object
Dim1                     object
Dim1ValueCode            object
FactValueNumeric        float64
FactValueNumericLow     float64
FactValueNumericHigh    float64
Value                    object
Language                 object
DateModified             object
dtype: object

In [101]:
#Dropping columns with only 1 unique value in all rows
nunique = anemia.nunique()
cols_to_drop = nunique[nunique == 1].index
anemia = anemia.drop(cols_to_drop, axis=1)
print(cols_to_drop)

Index(['IndicatorCode', 'Indicator', 'ValueType', 'Location type',
       'Period type', 'Dim1 type', 'Language', 'DateModified'],
      dtype='object')

In [102]:
#Viewing remaining columns
anemia.dtypes

ParentLocationCode       object
ParentLocation           object
SpatialDimValueCode      object
Location                 object
Period                    int64
IsLatestYear               bool
Dim1                     object
Dim1ValueCode            object
FactValueNumeric        float64
FactValueNumericLow     float64
FactValueNumericHigh    float64
Value                    object
dtype: object

In [103]:
#Dropping columns we just don't want
anemia = anemia.drop(["IsLatestYear","Dim1ValueCode","Value"],axis=1)
print(anemia)

      ParentLocationCode   ParentLocation SpatialDimValueCode  \
0                    WPR  Western Pacific                 CHN
1                    WPR  Western Pacific                 AUS
2                    AMR         Americas                 SLV
3                    WPR  Western Pacific                 NZL
4                    EUR           Europe                 GBR
...                  ...              ...                 ...
15595                EUR           Europe                 MKD
15596                AFR           Africa                 SYC
15597                AMR         Americas                 DMA
15598                AFR           Africa                 RWA
15599                EUR           Europe                 DEU

                                                Location  Period      Dim1  \
0                                                  China    2019    Severe
1                                              Australia    2019    Severe
2                                            El Salvador    2019    Severe
3                                            New Zealand    2019    Severe
4      United Kingdom of Great Britain and Northern I...    2019    Severe
...                                                  ...     ...       ...
15595          The former Yugoslav Republic of Macedonia    2000      Mild
15596                                         Seychelles    2000  Moderate
15597                                           Dominica    2000  Moderate
15598                                             Rwanda    2000  Moderate
15599                                            Germany    2000     Total

       FactValueNumeric  FactValueNumericLow  FactValueNumericHigh
0                   0.2                  0.0                   0.5
1                   0.2                  0.0                   0.6
2                   0.2                  0.0                   0.6
3                   0.2                  0.0                   0.6
4                   0.2                  0.0                   0.6
...                 ...                  ...                   ...
15595               9.6                  6.7                  13.9
15596               9.7                  3.5                  23.2
15597               9.8                  3.8                  20.7
15598               9.8                  5.6                  16.4
15599               9.9                  6.2                  16.7

[15600 rows x 9 columns]

In [145]:
#Opening and viewing population file
population = pd.read_csv('Population.csv')
population

,Country Name,Country Code,Series Name,Series Code,2019 [YR2019],2018 [YR2018],2017 [YR2017],2016 [YR2016],2015 [YR2015],2014 [YR2014],...,2009 [YR2009],2008 [YR2008],2007 [YR2007],2006 [YR2006],2005 [YR2005],2004 [YR2004],2003 [YR2003],2002 [YR2002],2001 [YR2001],2000 [YR2000]
0,Afghanistan,AFG,"Population ages 15-19, female",SP.POP.1519.FE,2197654,2148045,2099324,2045061,1980573,1894380,...,1445507,1405324,1378912,1358315,1336000,1283402,1223433,1159383,1097408,1042985
1,Afghanistan,AFG,"Population ages 15-19, female (% of female pop...",SP.POP.1519.FE.5Y,11.87149113,11.88151655,11.89814673,11.89263175,11.84026579,11.67064985,...,10.43630775,10.41246374,10.47680323,10.60424562,10.76153139,10.72812814,10.66987365,10.57959781,10.46222805,10.33635867
2,Afghanistan,AFG,"Population ages 20-24, female",SP.POP.2024.FE,1843985,1774099,1699734,1622768,1545400,1458199,...,1171910,1162361,1152781,1135463,1106633,1048797,986602,925744,872941,831930
3,Afghanistan,AFG,"Population ages 20-24, female (% of female pop...",SP.POP.2024.FE.5Y,9.961009138,9.813102903,9.633427011,9.436873642,9.238713618,8.98348269,...,8.460985256,8.612278569,8.758687792,8.864459673,8.913971384,8.767033719,8.604409625,8.447596003,8.322253723,8.244727266
4,Afghanistan,AFG,"Population ages 25-29, female",SP.POP.2529.FE,1433056,1370844,1312227,1256879,1204591,1154509,...,991143,964884,934918,901455,864815,820393,778004,739136,706185,680892
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3724,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3727,Data from database: Population estimates and p...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3728,Last Updated: 04/28/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [146]:
#Dropping rows that have NaN
pop = population.groupby(['Country Code','Series Name'],as_index=False).sum()
pop

,Country Code,Series Name,Country Name,Series Code,2019 [YR2019],2018 [YR2018],2017 [YR2017],2016 [YR2016],2015 [YR2015],2014 [YR2014],...,2009 [YR2009],2008 [YR2008],2007 [YR2007],2006 [YR2006],2005 [YR2005],2004 [YR2004],2003 [YR2003],2002 [YR2002],2001 [YR2001],2000 [YR2000]
0,ABW,"Population ages 15-19, female",Aruba,SP.POP.1519.FE,3596,3643,3691,3725,3739,3740,...,3467,3425,3437,3509,3611,3512,3412,3313,3202,3074
1,ABW,"Population ages 15-19, female (% of female pop...",Aruba,SP.POP.1519.FE.5Y,6.436715771,6.551922593,6.671124928,6.767313422,6.830221768,6.873989119,...,6.527715017,6.449001111,6.47440003,6.633897344,6.884127045,6.790935107,6.728986708,6.692118127,6.636406972,6.537782599
2,ABW,"Population ages 20-24, female",Aruba,SP.POP.2024.FE,3769,3778,3761,3691,3551,3370,...,2685,2910,3112,3227,3232,3138,3000,2838,2695,2601
3,ABW,"Population ages 20-24, female (% of female pop...",Aruba,SP.POP.2024.FE.5Y,6.746379795,6.794719614,6.797643146,6.705544655,6.486792591,6.193942067,...,5.055354722,5.479297294,5.862185887,6.100765668,6.161589202,6.06775466,5.916459591,5.732638468,5.585607992,5.531806291
4,ABW,"Population ages 25-29, female",Aruba,SP.POP.2529.FE,3435,3197,2938,2721,2588,2543,...,3086,3161,3155,3097,3035,3076,3148,3235,3304,3342
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3719,ZWE,"Population ages 35-39, female (% of female pop...",Zimbabwe,SP.POP.3539.FE.5Y,6.208333986,6.17910013,6.140334297,6.0803966,5.988782014,5.837855586,...,4.93520957,4.873667111,4.832362283,4.802814625,4.776028518,4.806755253,4.84254836,4.882287902,4.919429957,4.945049421
3720,ZWE,"Population ages 40-44, female",Zimbabwe,SP.POP.4044.FE,381904,363063,342470,322662,305380,289825,...,244025,242841,241939,240784,239133,240728,241168,240448,239025,237322
3721,ZWE,"Population ages 40-44, female (% of female pop...",Zimbabwe,SP.POP.4044.FE.5Y,4.984312436,4.802615662,4.591030686,4.386299756,4.214542255,4.066694777,...,3.721821718,3.749227663,3.775269867,3.793077048,3.799977467,3.855988918,3.891361741,3.9067792,3.91082165,3.911570765
3722,ZWE,"Population ages 45-49, female",Zimbabwe,SP.POP.4549.FE,266516,254185,243623,234424,226306,219172,...,199912,198966,197687,196421,195318,196450,197455,197800,196353,192314
3723,ZWE,"Population ages 45-49, female (% of female pop...",Zimbabwe,SP.POP.4549.FE.5Y,3.47835847,3.362371991,3.265923056,3.186783489,3.123243826,3.07532348,...,3.049018844,3.071840551,3.084751835,3.094225476,3.103728883,3.146742477,3.186031449,3.213838026,3.212641202,3.169743302

In [147]:
#Drop rows with any missing data
pop=pop.replace('..',np.nan).dropna(axis = 0, how = 'any')
pop

,Country Code,Series Name,Country Name,Series Code,2019 [YR2019],2018 [YR2018],2017 [YR2017],2016 [YR2016],2015 [YR2015],2014 [YR2014],...,2009 [YR2009],2008 [YR2008],2007 [YR2007],2006 [YR2006],2005 [YR2005],2004 [YR2004],2003 [YR2003],2002 [YR2002],2001 [YR2001],2000 [YR2000]
0,ABW,"Population ages 15-19, female",Aruba,SP.POP.1519.FE,3596,3643,3691,3725,3739,3740,...,3467,3425,3437,3509,3611,3512,3412,3313,3202,3074
1,ABW,"Population ages 15-19, female (% of female pop...",Aruba,SP.POP.1519.FE.5Y,6.436715771,6.551922593,6.671124928,6.767313422,6.830221768,6.873989119,...,6.527715017,6.449001111,6.47440003,6.633897344,6.884127045,6.790935107,6.728986708,6.692118127,6.636406972,6.537782599
2,ABW,"Population ages 20-24, female",Aruba,SP.POP.2024.FE,3769,3778,3761,3691,3551,3370,...,2685,2910,3112,3227,3232,3138,3000,2838,2695,2601
3,ABW,"Population ages 20-24, female (% of female pop...",Aruba,SP.POP.2024.FE.5Y,6.746379795,6.794719614,6.797643146,6.705544655,6.486792591,6.193942067,...,5.055354722,5.479297294,5.862185887,6.100765668,6.161589202,6.06775466,5.916459591,5.732638468,5.585607992,5.531806291
4,ABW,"Population ages 25-29, female",Aruba,SP.POP.2529.FE,3435,3197,2938,2721,2588,2543,...,3086,3161,3155,3097,3035,3076,3148,3235,3304,3342
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3719,ZWE,"Population ages 35-39, female (% of female pop...",Zimbabwe,SP.POP.3539.FE.5Y,6.208333986,6.17910013,6.140334297,6.0803966,5.988782014,5.837855586,...,4.93520957,4.873667111,4.832362283,4.802814625,4.776028518,4.806755253,4.84254836,4.882287902,4.919429957,4.945049421
3720,ZWE,"Population ages 40-44, female",Zimbabwe,SP.POP.4044.FE,381904,363063,342470,322662,305380,289825,...,244025,242841,241939,240784,239133,240728,241168,240448,239025,237322
3721,ZWE,"Population ages 40-44, female (% of female pop...",Zimbabwe,SP.POP.4044.FE.5Y,4.984312436,4.802615662,4.591030686,4.386299756,4.214542255,4.066694777,...,3.721821718,3.749227663,3.775269867,3.793077048,3.799977467,3.855988918,3.891361741,3.9067792,3.91082165,3.911570765
3722,ZWE,"Population ages 45-49, female",Zimbabwe,SP.POP.4549.FE,266516,254185,243623,234424,226306,219172,...,199912,198966,197687,196421,195318,196450,197455,197800,196353,192314
3723,ZWE,"Population ages 45-49, female (% of female pop...",Zimbabwe,SP.POP.4549.FE.5Y,3.47835847,3.362371991,3.265923056,3.186783489,3.123243826,3.07532348,...,3.049018844,3.071840551,3.084751835,3.094225476,3.103728883,3.146742477,3.186031449,3.213838026,3.212641202,3.169743302

In [148]:
#Replace series code for populations using dict.fromkeys(seq[,value])
pop = pop.replace(dict.fromkeys(['SP.POP.1519.FE','SP.POP.2024.FE','SP.POP.2529.FE','SP.POP.3034.FE','SP.POP.3539.FE','SP.POP.4044.FE','SP.POP.4549.FE'],'Pop'))
pop

,Country Code,Series Name,Country Name,Series Code,2019 [YR2019],2018 [YR2018],2017 [YR2017],2016 [YR2016],2015 [YR2015],2014 [YR2014],...,2009 [YR2009],2008 [YR2008],2007 [YR2007],2006 [YR2006],2005 [YR2005],2004 [YR2004],2003 [YR2003],2002 [YR2002],2001 [YR2001],2000 [YR2000]
0,ABW,"Population ages 15-19, female",Aruba,Pop,3596,3643,3691,3725,3739,3740,...,3467,3425,3437,3509,3611,3512,3412,3313,3202,3074
1,ABW,"Population ages 15-19, female (% of female pop...",Aruba,SP.POP.1519.FE.5Y,6.436715771,6.551922593,6.671124928,6.767313422,6.830221768,6.873989119,...,6.527715017,6.449001111,6.47440003,6.633897344,6.884127045,6.790935107,6.728986708,6.692118127,6.636406972,6.537782599
2,ABW,"Population ages 20-24, female",Aruba,Pop,3769,3778,3761,3691,3551,3370,...,2685,2910,3112,3227,3232,3138,3000,2838,2695,2601
3,ABW,"Population ages 20-24, female (% of female pop...",Aruba,SP.POP.2024.FE.5Y,6.746379795,6.794719614,6.797643146,6.705544655,6.486792591,6.193942067,...,5.055354722,5.479297294,5.862185887,6.100765668,6.161589202,6.06775466,5.916459591,5.732638468,5.585607992,5.531806291
4,ABW,"Population ages 25-29, female",Aruba,Pop,3435,3197,2938,2721,2588,2543,...,3086,3161,3155,3097,3035,3076,3148,3235,3304,3342
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3719,ZWE,"Population ages 35-39, female (% of female pop...",Zimbabwe,SP.POP.3539.FE.5Y,6.208333986,6.17910013,6.140334297,6.0803966,5.988782014,5.837855586,...,4.93520957,4.873667111,4.832362283,4.802814625,4.776028518,4.806755253,4.84254836,4.882287902,4.919429957,4.945049421
3720,ZWE,"Population ages 40-44, female",Zimbabwe,Pop,381904,363063,342470,322662,305380,289825,...,244025,242841,241939,240784,239133,240728,241168,240448,239025,237322
3721,ZWE,"Population ages 40-44, female (% of female pop...",Zimbabwe,SP.POP.4044.FE.5Y,4.984312436,4.802615662,4.591030686,4.386299756,4.214542255,4.066694777,...,3.721821718,3.749227663,3.775269867,3.793077048,3.799977467,3.855988918,3.891361741,3.9067792,3.91082165,3.911570765
3722,ZWE,"Population ages 45-49, female",Zimbabwe,Pop,266516,254185,243623,234424,226306,219172,...,199912,198966,197687,196421,195318,196450,197455,197800,196353,192314
3723,ZWE,"Population ages 45-49, female (% of female pop...",Zimbabwe,SP.POP.4549.FE.5Y,3.47835847,3.362371991,3.265923056,3.186783489,3.123243826,3.07532348,...,3.049018844,3.071840551,3.084751835,3.094225476,3.103728883,3.146742477,3.186031449,3.213838026,3.212641202,3.169743302

In [149]:
#Dropping all percent population rows
pop.drop(pop.loc[pop['Series Code']!='Pop'].index, inplace=True)
pop

,Country Code,Series Name,Country Name,Series Code,2019 [YR2019],2018 [YR2018],2017 [YR2017],2016 [YR2016],2015 [YR2015],2014 [YR2014],...,2009 [YR2009],2008 [YR2008],2007 [YR2007],2006 [YR2006],2005 [YR2005],2004 [YR2004],2003 [YR2003],2002 [YR2002],2001 [YR2001],2000 [YR2000]
0,ABW,"Population ages 15-19, female",Aruba,Pop,3596,3643,3691,3725,3739,3740,...,3467,3425,3437,3509,3611,3512,3412,3313,3202,3074
2,ABW,"Population ages 20-24, female",Aruba,Pop,3769,3778,3761,3691,3551,3370,...,2685,2910,3112,3227,3232,3138,3000,2838,2695,2601
4,ABW,"Population ages 25-29, female",Aruba,Pop,3435,3197,2938,2721,2588,2543,...,3086,3161,3155,3097,3035,3076,3148,3235,3304,3342
6,ABW,"Population ages 30-34, female",Aruba,Pop,2641,2688,2801,2932,3047,3157,...,3560,3596,3692,3831,3969,4026,4025,3998,3986,4005
8,ABW,"Population ages 35-39, female",Aruba,Pop,3242,3359,3470,3570,3655,3729,...,4059,4182,4304,4423,4538,4603,4666,4711,4722,4688
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3714,ZWE,"Population ages 25-29, female",Zimbabwe,Pop,608689,618683,628299,634641,636598,636370,...,586332,578807,572539,565072,554832,545065,533145,519432,505847,493913
3716,ZWE,"Population ages 30-34, female",Zimbabwe,Pop,565307,560297,551028,540400,530448,522063,...,458954,444632,429155,414178,400964,393648,387945,383445,379465,375582
3718,ZWE,"Population ages 35-39, female",Zimbabwe,Pop,475690,467121,458041,447282,433939,416052,...,323582,315672,309683,304882,300556,300084,300118,300487,300670,300025
3720,ZWE,"Population ages 40-44, female",Zimbabwe,Pop,381904,363063,342470,322662,305380,289825,...,244025,242841,241939,240784,239133,240728,241168,240448,239025,237322
3722,ZWE,"Population ages 45-49, female",Zimbabwe,Pop,266516,254185,243623,234424,226306,219172,...,199912,198966,197687,196421,195318,196450,197455,197800,196353,192314

In [150]:
pop.dtypes

Country Code     object
Series Name      object
Country Name     object
Series Code      object
2019 [YR2019]    object
2018 [YR2018]    object
2017 [YR2017]    object
2016 [YR2016]    object
2015 [YR2015]    object
2014 [YR2014]    object
2013 [YR2013]    object
2012 [YR2012]    object
2011 [YR2011]    object
2010 [YR2010]    object
2009 [YR2009]    object
2008 [YR2008]    object
2007 [YR2007]    object
2006 [YR2006]    object
2005 [YR2005]    object
2004 [YR2004]    object
2003 [YR2003]    object
2002 [YR2002]    object
2001 [YR2001]    object
2000 [YR2000]    object
dtype: object

In [151]:
#Converting to correct dtypes object to string to integer
pop[['2019 [YR2019]','2018 [YR2018]','2017 [YR2017]','2016 [YR2016]','2015 [YR2015]','2014 [YR2014]','2013 [YR2013]','2012 [YR2012]','2011 [YR2011]','2010 [YR2010]','2009 [YR2009]','2008 [YR2008]','2007 [YR2007]','2006 [YR2006]','2005 [YR2005]','2004 [YR2004]','2003 [YR2003]','2002 [YR2002]','2001 [YR2001]','2000 [YR2000]']] = pop[['2019 [YR2019]','2018 [YR2018]','2017 [YR2017]','2016 [YR2016]','2015 [YR2015]','2014 [YR2014]','2013 [YR2013]','2012 [YR2012]','2011 [YR2011]','2010 [YR2010]','2009 [YR2009]','2008 [YR2008]','2007 [YR2007]','2006 [YR2006]','2005 [YR2005]','2004 [YR2004]','2003 [YR2003]','2002 [YR2002]','2001 [YR2001]','2000 [YR2000]']].astype(str).astype(int)

In [153]:
pop.dtypes

Country Code     object
Series Name      object
Country Name     object
Series Code      object
2019 [YR2019]     int32
2018 [YR2018]     int32
2017 [YR2017]     int32
2016 [YR2016]     int32
2015 [YR2015]     int32
2014 [YR2014]     int32
2013 [YR2013]     int32
2012 [YR2012]     int32
2011 [YR2011]     int32
2010 [YR2010]     int32
2009 [YR2009]     int32
2008 [YR2008]     int32
2007 [YR2007]     int32
2006 [YR2006]     int32
2005 [YR2005]     int32
2004 [YR2004]     int32
2003 [YR2003]     int32
2002 [YR2002]     int32
2001 [YR2001]     int32
2000 [YR2000]     int32
dtype: object

In [155]:
#Create dataframe with only the total population for each year for each country
total_pop=pop.groupby(['Country Code','Series Code']).sum()
total_pop

,,2019 [YR2019],2018 [YR2018],2017 [YR2017],2016 [YR2016],2015 [YR2015],2014 [YR2014],2013 [YR2013],2012 [YR2012],2011 [YR2011],2010 [YR2010],2009 [YR2009],2008 [YR2008],2007 [YR2007],2006 [YR2006],2005 [YR2005],2004 [YR2004],2003 [YR2003],2002 [YR2002],2001 [YR2001],2000 [YR2000]
Country Code,Series Code,,,,,,,,,,,,,,,,,,,,
ABW,Pop,24589,24703,24830,24953,25052,25192,25330,25486,25680,25930,26480,27057,27603,28023,28233,27971,27534,26982,26386,25801
AFE,Pop,160691360,155959422,151360412,146898874,142581069,138365113,134281418,130342581,126573536,122995422,119475428,116116863,112906252,109823583,106858775,103852163,100936497,98117736,95416341,92848002
AFG,Pop,8929462,8626589,8330071,8029304,7717838,7379744,7039199,6709589,6409957,6152744,5970183,5819802,5686323,5547078,5385962,5154971,4910121,4666958,4449855,4276671
AFW,Pop,104447079,101405592,98472596,95672102,93019313,90389450,87882115,85489552,83198156,80999915,78737398,76550091,74442552,72424229,70504958,68506351,66579864,64725104,62943270,61238184
AGO,Pop,7335458,7073136,6821216,6579972,6349429,6125426,5911592,5706814,5510373,5322327,5127029,4936906,4752177,4573854,4403626,4231264,4064935,3905979,3756142,3616376
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WSM,Pop,43200,42890,42810,42812,42746,42923,42974,42865,42600,42230,42002,41674,41264,40851,40461,40219,39983,39730,39407,38991
YEM,Pop,7408593,7196460,6986669,6780902,6580106,6376674,6177833,5980714,5780450,5575278,5364312,5147939,4931308,4723561,4530263,4338264,4159143,3991184,3828998,3668972
ZAF,Pop,15903241,15722426,15544426,15361616,15169652,14998773,14816791,14628481,14444550,14273828,14077750,13887084,13696686,13498232,13287789,13048632,12798796,12540958,12279286,12015039
ZMB,Pop,4349193,4192481,4038888,3892048,3754047,3619130,3492046,3372407,3259013,3151330,3055868,2966772,2883592,2806247,2734663,2661487,2592338,2526423,2463002,2401672
ZWE,Pop,3795302,3737191,3682788,3634461,3593166,3540701,3489356,3439149,3390634,3344765,3306090,3271210,3238726,3206388,3172382,3139529,3106275,3072767,3039761,3006816

In [156]:
anemia

,ParentLocationCode,ParentLocation,SpatialDimValueCode,Location,Period,Dim1,FactValueNumeric,FactValueNumericLow,FactValueNumericHigh
0,WPR,Western Pacific,CHN,China,2019,Severe,0.2,0.0,0.5
1,WPR,Western Pacific,AUS,Australia,2019,Severe,0.2,0.0,0.6
2,AMR,Americas,SLV,El Salvador,2019,Severe,0.2,0.0,0.6
3,WPR,Western Pacific,NZL,New Zealand,2019,Severe,0.2,0.0,0.6
4,EUR,Europe,GBR,United Kingdom of Great Britain and Northern I...,2019,Severe,0.2,0.0,0.6
...,...,...,...,...,...,...,...,...,...
15595,EUR,Europe,MKD,The former Yugoslav Republic of Macedonia,2000,Mild,9.6,6.7,13.9
15596,AFR,Africa,SYC,Seychelles,2000,Moderate,9.7,3.5,23.2
15597,AMR,Americas,DMA,Dominica,2000,Moderate,9.8,3.8,20.7
15598,AFR,Africa,RWA,Rwanda,2000,Moderate,9.8,5.6,16.4
15599,EUR,Europe,DEU,Germany,2000,Total,9.9,6.2,16.7

In [ ]:
#pd.melt on cleaned pop, then merge into anemia to create new column